/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-hackathon {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
.srp_admin_form {
	width: 100%;
}
.srp_admin_form p {
	width: 100%;
	display: block;
}
.srp_admin_form p label {
	width: 30%;
	display: inline-block;
}
.srp_admin_form p input, select {
	width: 65%;
	display: inline-block;
  }
  .srp_admin_form input[type='checkbox'] {
	width: unset;
  }

.srpContainer {
	width: 100%;
	background-color:ivory;
	padding: 25px;
}
.srpHeader, .srpSubHeader, .srpTitle {
	text-align: center;
	padding: 15px;
	font-weight: 700;
	color: #07796B;
}
.srpHeader {
	font-size: 3rem;
}
.srpSubHeader {
	font-size: 2rem;
}
.srpTitle {
	font-size: 1.5rem;
}
.srpDetails {
	width: 100%;
}
.srpDetailsBlock {
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	background-color: #DAEBE9;
	margin: 5px 0;
	border-radius: 25px;
}
.srpDetailsBlock p, .srpDetailsBlock select {
	display: inline-block;
	width: 45%;
	margin: 0;
	font-weight: 600;
}
.srpDetailsBlock select {
	background-color: #DAEBE9;
	padding: 10px;
	border-radius: 5px;
	border-width: 2px;
	border-color: Black;
	font-size: 15px;
}
.srpDetailsBlock select option{
	font-weight: 600;
	font-size: 15px;
}
.srpDetailsBlock p::first-letter {
	text-transform: capitalize;
}
.srpDetailsLabel {
	font-weight: 600;
	margin: 0 5px;
}

.srpPaymentForm {
	width: 100%;
}
.srpSubmitButton {
	display: block;
	padding: 15px;
	margin: 25px 0 0 auto;
	border-radius: 15px;
	background-color: #07796B;
	border: 1px solid #07796B;
	color: white;
	font-size: large;
	font-weight: 600;
}
.srpSubmitButton:hover {
	background-color: white;
	color: #07796B;
	cursor: pointer;
}

#srp_price {
	display: inline-block;
	width: 45%;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #000000;
}

#srp_price::placeholder {
	color: black;
}